<!-- Banner -->
  <section id="banner">
    <div class="content">
      <span class="image left">
        <img src="assets/images/asab logo.jpg" alt=""  />
      </span>
      
      <header>
        <h1>ASAB Easter Conference 2024</h1>
        <p>An animal behaviour conference</p>
      </header>
      
      <p>ASAB Easter ASAB conference at the University of Exeter, U.K. </p>

      <ul class="actions">
        <li><a href="{{ 'about' | absolute_url }}" class="button big">Find Out More</a></li> 
      </ul>
    </div>
  </section>
