<!-- Banner -->
  <section id="banner">
    <div class="content">
      <span class="image left">
        <img src="assets/images/MacaqueNet_Logo_V04-colourB.png" alt=""  />
      </span>
      
      <header>
        <h1>MacaqueNet</h1>
        <p>A Global Collaboration of Macaque Researchers</p>
      </header>
      
      <p>MacaqueNet is a global grassroots network, whose mission is to encourage and facilitate collaboration between macaque researchers. Through cross-species comparative research, we can address questions that single-species studies cannot.</p>

      <ul class="actions">
        <li><a href="{{ 'about' | absolute_url }}" class="button big">Find Out More</a></li> 
      </ul>
    </div>
  </section>
