<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <!-- Logo -->
            <a href="{{ site.url | absolute_url }}" id="sidelogo">
                <img src="/assets/images/Crab Logo RGB.jpg" alt=""/>
            </a>

            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="{{  site.url | absolute_url }}">Home</a></li>
                <li><a href="{{ 'about' | absolute_url }}">About</a></li>                
                <li><a href="{{ 'programme' | absolute_url }}">Programme</a></li>
                <li><a href="{{ 'plenary' | absolute_url }}">Plenary Speakers</a></li>
                <li><a href="{{ 'workshop' | absolute_url }}">Workshop</a></li>
                <li><a href="{{ 'venue' | absolute_url }}">Venue</a></li>
                <li><a href="{{ 'prizes' | absolute_url }}">Prizes</a></li>
                <li><a href="{{ 'register' | absolute_url }}">Register</a></li>
                <li><a href="{{ 'attendees' | absolute_url }}">Information for Attendees</a></li>
                <li><a href="{{ 'presenters' | absolute_url }}">Information for Presenters</a></li>
                <li><a href="{{ 'contact' | absolute_url }}">Contact Us</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get In Touch</h2>
            </header>
            <ul class="contact">
                <li class="fa-envelope-o">
                    <a href="mailto:asabeaster2024@gmail.com">Email us</a
                    >
                </li>
                <li class="fa-github">
                    <a href="site.github_url" target="_blank">github.com/ASABEaster2024</a>                    
                </li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">
                &copy; 2023 {{ site.title }}. All rights reserved.
                
                We thank Julia Wadzek & Macaela Skelton for her help & input creating this website. 
            </p>
        </footer>
    </div>
</div>
